{
  "printWidth": 100,
  "semi": true,
  "endOfLine": "auto",
  "singleQuote": false,
  "useTabs": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"]
}
